<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="p-2 text-black-50 fs-1 text-center fw-bold mb-4">認証ページ</div>
    </div>  
  </div>
</div>

<% if ["存在しない学校idです", "学校idとメールアドレスが一致しません"].include?(flash[:notice]) %>
    <div class="bg-orange text-center fs-4 col-5 mx-auto">
        <span class="align-middle text-primary"><%= flash[:notice] %></span>
    </div>
<% end %>

<%= form_with(url: check_students_path, class: "row g-3 d-flex flex-column col-5 mx-auto", local: true) do |f| %>

  <div class="col-12">
    <%= f.label :user_id, "学校 id" %><br />
    <%= f.text_field :user_id, autofocus: true, class: "form-control" %>
  </div>

  <div class="col-12">
    <%= f.label :email, "学校メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="col-12 d-grid text-center">
    <%= f.submit "出欠席登録ページへ", class: "btn btn-primary" %>
  </div>

<% end %>

<div class="text-center">
  <%= link_to("ホーム", root_path, class: "btn btn-secondary mt-5 col-4 text-center") %>
</div>