<%= render("shared/header") %>

<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="p-2 text-black-50 fs-1 text-center fw-bold mb-4">生徒一覧ページ</div>
    </div>  
  </div>
</div>

<% if ["登録が完了しました。", "削除しました。", "更新しました。"].include?(flash[:notice]) %>
    <div class="bg-orange text-center fs-4 col-9 py-1 mx-auto mt-4">
        <span class="align-middle text-primary"><%= flash[:notice] %></span>
    </div>
<% end %>

<div class="table-wrapper">
    <div class="links"><%=link_to("新規登録", new_student_path, class: "text-decoration-none") %></div>
    <table class="table table-striped  table-bordered text-center">
        <tr class="bg-dark-gray">
            <th class="fw-bold text-white">学年</th>
            <th class="fw-bold text-white">クラス</th>
            <th class="fw-bold text-white">番号</th>
            <th class="fw-bold text-white">氏名</th>
            <th class="fw-bold text-white">アクション</th>
        </tr>
        <% @students.each do |student| %>
            <tr>
                <td><%= student.grade %></td>
                <td><%= student.class_number %></td>
                <td><%= student.number %></td>
                <td><%= student.name %></td>
                <td class="actions"><%=link_to("編集", edit_student_path(student.id), class: "text-decoration-none") %> | <%=link_to("削除", student_path(student.id), method: :delete, data:{confirm:"本当に削除しますか？"}, class: "text-decoration-none") %></td>
            </tr>
        <% end %>
    </table>
</div>

