<% if user_signed_in? %>
  <div class="bg-container">
    <%= render("shared/header") %>
    <div class="bg-image"></div>

    <div class="container py-3 mb-4">
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="p-2 text-white fs-1 text-center fw-bold page-title">出欠登録</div>
        </div>  
      </div>
    </div>
  </div>
<% else %>
  <div class="header2 mb-4">
    <%= image_tag("carousel1.png") %>
    <div class="header2-absolute">
      <%= render("shared/header") %>
    </div>
    <div class="header2-title">
      <div class="p-2 text-white fs-1 text-center fw-bold page-title">出欠登録</div>
    </div>  
  </div>
<% end %>

<% if ["登録しました", "全ての欄を入力してください", "無効な生徒IDです"].include?(flash[:notice]) %>
    <div class="bg-orange text-center fs-4 col-7 mx-auto mb-4">
        <span class="align-middle text-primary"><%= flash[:notice] %></span>
    </div>
<% end %>

<div class="row col-11 mx-auto justify-content-between">
  <%# フォーム %>
  <%= form_with( url: user_attendances_path(params[:id]), mothod: :post, local: true, class: "col-lg-4 col-8 mx-auto") do |f| %>
    <%= f.hidden_field :user_id, value: params[:id] %>
    
    <div class="col-12 mb-3">
        <%= f.label :student_id, "生徒id" %>
        <%= f.text_field :student_id, class: "form-control" %>
    </div> 
    <div class="col-12 mb-3">
      <%= f.label :status, "出欠席を登録" %>
      <select name="status" class="form-select form-control" aria-label="Default select example">
          <option selected>選択してください</option>
          <option value="欠席">欠席</option>
          <option value="遅刻">遅刻</option>
          <option value="早退">早退</option>
          <option value="公欠">公欠</option>
          <option value="忌引き">忌引き</option>
          <option value="その他">その他</option>
      </select>
    </div>
    <div class="col-12 mb-3">
        <%= f.label :start_time, "日付" %>
        <%= f.date_field :start_time, class: "form-control" %>
    </div>
    <div class="col-12 mb-3">
        <%= f.label :reason, "理由" %>
        <%= f.text_field :reason, class: "form-control", style: "height: 100px" %>
    </div>
    <div class="col-12 text-center mb-5">
        <%= f.submit "出欠を登録", class: "btn btn-primary col-6" %>
    </div>
  <% end %>
  
  <%# カレンダー %>
  <div class="col-lg-8 col-12 ps-lg-5">
    <%= week_calendar events: @attendances do |date, attendances| %>
      <div class="text-center p-1 mb-3 date-days">
        <%= date.day %>
      </div>
      <%# Statusの数値を更新 %>
      <% status_1, status_2, status_3, status_4, status_5, status_6 = 0, 0, 0, 0, 0, 0 %>
      <% attendances.each do |attendance| %>
        <% status_1 += 1 if attendance.status == "欠席" %>
        <% status_2 += 1 if attendance.status == "遅刻" %>
        <% status_3 += 1 if attendance.status == "早退" %>
        <% status_4 += 1 if attendance.status == "公欠" %>
        <% status_5 += 1 if attendance.status == "忌引き" %>
        <% status_6 += 1 if attendance.status == "その他" %>
      <% end %>
        <div>
          <p class="status-number <%= 'status-true' if status_1 != 0 %>">欠：<%= status_1 %>件</p>
          <p class="status-number <%= 'status-true' if status_2 != 0 %>">遅：<%= status_2 %>件</p>
          <p class="status-number <%= 'status-true' if status_3 != 0 %>">早：<%= status_3 %>件</p>
          <p class="status-number <%= 'status-true' if status_4 != 0 %>">公：<%= status_4 %>件</p>
          <p class="status-number <%= 'status-true' if status_5 != 0 %>">忌：<%= status_5 %>件</p>
          <p class="status-number <%= 'status-true' if status_6 != 0 %>">他：<%= status_6 %>件</p>
          <%= render(partial: "shared/modal", locals: {attendances: attendances, date: date}) if user_signed_in? %>
        </div>
    <% end %>
    <% if user_signed_in? %>
        <div class="text-end"><%= link_to("出欠一覧", user_attendances_path(current_user.id), class: "text-decoration-none") %></div>
    <% end %>
  </div>
</div>

<% if user_signed_in?%>
  <div class="row col-11 mx-auto chartkick mb-3">
    <div class="col-xl-6 col-9 mx-auto">
      <%= line_chart [
        { name: "欠席数", data: @attendances.where(status: "欠席").group_by_day(:start_time).count },
        { name: "遅刻数", data: @attendances.where(status: "遅刻").group_by_day(:start_time).count }
      ] , title: "欠席数・遅刻数の推移" %>
    </div>
    <div class="col-xl-6 col-9 mx-auto">
      <% grade_1, grade_2, grade_3, grade_4, grade_5, grade_6 = 0, 0, 0, 0, 0, 0 %>
      <% @attendances.each do |attendance| %>
        <% grade_1 += 1 if attendance.student.grade == 1 %>
        <% grade_2 += 1 if attendance.student.grade == 2 %>
        <% grade_3 += 1 if attendance.student.grade == 3 %>
        <% grade_4 += 1 if attendance.student.grade == 4 %>
        <% grade_5 += 1 if attendance.student.grade == 5 %>
        <% grade_6 += 1 if attendance.student.grade == 6 %>
      <% end %>
      <%= pie_chart [["1年生", grade_1], ["2年生", grade_2], ["3年生", grade_3], ["4年生", grade_4], ["5年生", grade_5], ["6年生", grade_6]],
       title: "学年別割合", colors: ["#FFB6C1", "#87CEEB", "#90EE90", "#FABC05", "#F0F0F0", "#3366CC"] %>
    </div>
      <%= column_chart Attendance.where(user_id: current_user.id).group_by_day_of_week(:start_time).count %>
  </div>
<% end %>