<!-- Button trigger modal -->
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-light text-secondary border-secondary mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
        詳細
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-daialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= date.month %>月<%= date.day %>日</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% attendances.each do |attendance| %>
            <div class="modal-attendance mb-3 border">
                <p class="mb-1"><%= attendance.student.grade %>年
                <%= attendance.student.class_number %>組
                <%= attendance.student.number %>番
                <%= attendance.student.name %></p>
                <%= attendance.status%>の理由
                <%= attendance.reason %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        </div>
        </div>
    </div>
    </div>
</div>