
<%= form_with(model: @subject, class: "row g-3 mx-auto justify-content-center px-5", local: true) do |f| %>
  <%= render "shared/error_messages", model: @subject %>

  <div class="col-9">
    <%= f.label :subject_id, "教科" %><br />
    <%= f.collection_select(:subject_id, ChooseSubject.all, :id, :name, {}, {class:"form-select form-control"}) %>
  </div>

  <div class="col-9">
    <%= f.label :sub_subject, "科目" %><br />
    <%= f.text_field :sub_subject, class: "form-control" %>
  </div>

  <div class="col-9">
    <%= f.label :title, "単元・タイトル" %><br />
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="col-9">
    <%= f.label :month_id, "授業実施月" %><br />
    <%= f.collection_select(:month_id, Month.all, :id, :name, {}, {class:"form-select form-control"}) %>
  </div>

  <div class="col-9">
    <%= f.label :student_id, "対象学年" %><br />
    <%= f.collection_select(:student_id, Student.all, :id, :name, {}, {class:"form-select form-control"}) %>
  </div>

  <div class="col-9">
    <%= f.label :name, "投稿者名" %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="col-9">
    <%= f.label :content, "授業の流れ・生徒の様子" %><br />
    <%= f.text_area :content, class: "form-control", rows: "5" %>
  </div>

  <div class="form-group col-9">
    <%= f.label :file ,"授業用資料"%>
    <%= f.file_field :file, onchange: 'previewImage()', class: 'form-control' %>
    <%= f.hidden_field :avatar_cache %>
  </div>

  <div class="col-5 d-grid p-3">
    <%= f.submit "投稿する", class: "btn btn-primary btn-lg p-3" %>
  </div>
<% end %>
