<div id="carouselExampleIndicators" class="carousel slide bg-success" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag("carousel2.png", class: "d-block top-image", alt: "...") %>
        <div class="carousel-caption d-none d-md-block">
          <h5>授業の記録を集積！</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
    </div>
    <div class="carousel-item">
        <%= image_tag("carousel1.png", class: "d-block top-image", alt: "...") %>
        <div class="carousel-caption d-none d-md-block">
          <h5>新規採用者、転任者も安心！</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
    </div>
    <div class="carousel-item">
        <%= image_tag("carousel3.png", class: "d-block top-image", alt: "...") %>
        <div class="carousel-caption d-none d-md-block">
          <h5>研究授業は公開しよう</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="d-flex justify-content-center mt-5 vh-20">
  <%= link_to("新規登録", new_user_registration_path, class: "btn btn-primary btn-lg me-2") %>
  <%= link_to("ログイン", new_user_session_path, class: "btn btn-primary btn-lg me-5") %>
  <%= link_to("公開済み投稿ページ", publics_path, class: "btn btn-danger btn-lg") %>
</div>