<div class="simple-calendar">

  <div class="calendar-heading d-flex justify-content-between">
    <div>
      <%=link_to calendar.url_for_next_view do%>
        <i class="bi bi-chevron-double-left me-2 fs-5"></i>
      <% end %>
      <%= link_to t('simple_calendar.previous', default: '前の週'), calendar.url_for_previous_view, class: "text-decoration-none fs-5" %>
    </div>
    <div>
      <% if calendar.number_of_weeks == 1 %>
        <span class="calendar-title mx-2 fs-4"><%= start_date.month %>月</span>
      <% else %>
        <span class="calendar-title mx-2 fs-4"><%= start_date.month %>月</span>
      <% end %>
    </div>
    <div>
      <%= link_to t('simple_calendar.next', default: '次の週'), calendar.url_for_next_view, class: "text-decoration-none fs-5" %>
      <%=link_to calendar.url_for_next_view do%>
        <i class="bi bi-chevron-double-right ms-2 fs-5"></i>
      <% end %>
    </div>
  </div>

  <table class="table mt-2">
    <thead class="table-head">
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="text-center"><%= ["日", "月", "火", "水", "木", "金", "土" ][day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: "#{calendar.td_classes_for(day)} custom-cell" do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
