<div class="bg-container">
  <%= render("shared/header") %>
  <div class="bg-image"></div>

  <div class="container py-3 mb-4">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="p-2 text-white fs-1 text-center fw-bold page-title">投稿詳細</div>
      </div>  
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom"><%= @subject.title %></h2>
    <h5 class="text-muted text-end"><%= @subject.user.school %>　<%= @subject.name %></h5>
  <div class="row g-4 py-5 row-cols-1 row-cols-sm-2">
    <div class="feature col">
      <div class="feature-icon bg-cream bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
      </div>
      <h5><%= ChooseSubject.find(@subject.subject_id).name %></h5>
      
    </div>
    <div class="feature col">
      <div class="feature-icon bg-cream bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
      </div>
      <h5><%= @subject.sub_subject %></h5>
      
    </div>
    <div class="feature col">
      <div class="feature-icon bg-cream bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
      </div>
      <h5>対象学年：<%= @subject.grade.name %></h5>
      
    </div>
    <div class="feature col">
      <div class="feature-icon bg-cream bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
      </div>
      <h5>授業実施月：<%= @subject.month.name %></h5>
      
    </div>
  </div>
    <div class="feature col-12">
      <div class="feature-icon bg-cream bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
      </div>
      <h6 class="lh-lg"><%= @subject.content %></h6>
    </div>
    <div class="feature col-12 mt-5">
      <div class="feature-icon bg-cream bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
      </div>
      <% if @subject.file.file %>
        <% file_path = @subject.file.file.file %>
        <h5 class="mb-1">添付ファイル：<%= link_to("#{@subject.file.file.original_filename}", @subject.file.url, class: "mb-2 fs-5 text-decoration-none") %></h5>
      <% else %>
        <h5>添付ファイル：なし<h5>
      <% end %>
    </div>
</div>

<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>