<p id="notice"><%= notice %></p>

<h1>出欠席を登録する</h1>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= month_calendar events: @attendances do |date, attendances| %>
        <%= date.day %>

        <% attendances.each do |attendance| %>
          <div>
            <%= link_to attendance.status, attendance %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= form_with(model: @attendance, local: true, class: "col-md-4") do |f| %>
      <div class="name">
          <%= f.label :name, "氏名" %>
          <%= f.text_field :name %>
      </div>    
      <div class="status">
        <%= f.label :status, "出欠席を登録" %>
        <select name="status" class="form-select" aria-label="Default select example">
            <option selected>選択してください</option>
            <option value="欠席">欠席</option>
            <option value="遅刻">遅刻</option>
            <option value="早退">早退</option>
            <option value="公欠">公欠</option>
            <option value="忌引き">忌引き</option>
            <option value="その他">その他</option>
        </select>
      </div>
      <div class="start-time">
          <%= f.label :start_time, "日付" %>
          <%= f.date_field :start_time %>
      </div>
      <div class="reason">
          <%= f.label :reason, "理由" %>
          <%= f.text_field :reason %>
      </div>
      <div class="submit">
          <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
