<div class="bg-container">
  <%= render("shared/header") %>
  <div class="bg-image"></div>

  <div class="container py-3 mb-4">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="p-2 text-white fs-1 text-center fw-bold page-title">出欠一覧</div>
      </div>  
    </div>
  </div>
</div>

<div class="table-wrapper" id="sort_table">
    <div class="links"><%=link_to("出欠登録ページ", user_path(current_user.id), class: "text-decoration-none") %></div>
    <table class="table table-striped  table-bordered text-center">
        <tr class="bg-dark-gray">
            <th class="fw-bold text-white"><i class="bi bi-sort-down fs-5 me-1 text-white"></i>学年</th>
            <th class="fw-bold text-white"><i class="bi bi-sort-down fs-5 me-1 text-white"></i>クラス</th>
            <th class="fw-bold text-white"><i class="bi bi-sort-down fs-5 me-1 text-white"></i>番号</th>
            <th class="fw-bold text-white"><i class="bi bi-sort-down fs-5 me-1 text-white"></i>氏名</th>
            <th class="fw-bold text-white"><i class="bi bi-sort-down fs-5 me-1 text-white"></i>出欠席</th>
            <th class="fw-bold text-white"><i class="bi bi-sort-down fs-5 me-1 text-white"></i>日付</th>
            <th class="fw-bold text-white"><i class="bi bi-sort-down fs-5 me-1 text-white"></i>理由</th>
        </tr>
        <% @attendances.each do |attendance| %>
          <% wdays = ["日", "月", "火", "水", "木", "金", "土"] %>
            <tr>
                <td><%= attendance.student.grade %></td>
                <td><%= attendance.student.class_number %></td>
                <td><%= attendance.student.number %></td>
                <td><%= attendance.student.name %></td>
                <td><%= attendance.status %></td>
                <td><%= attendance.start_time.month %>月<%= attendance.start_time.day %>日（<%= wdays[attendance.start_time.wday] %>）</td>
                <td><%= attendance.reason %></td>
            </tr>
        <% end %>
    </table>
    <div class="mb-5">
      <%= paginate @attendances, window: 2 %>
    </div>
    
</div>
