<%= form_with(model: @attendance, local: true) do |f| %>

    <div class="title">
        <%= f.label :name, "氏名" %>
        <%= f.text_field :name %>
    </div>
    
    <div class="title">
        <%= f.label :status, "出欠席を登録" %>
        <select name="status" class="form-select" aria-label="Default select example">
            <option selected>選択してください</option>
            <option value="欠席">欠席</option>
            <option value="遅刻">遅刻</option>
            <option value="早退">早退</option>
            <option value="公欠">公欠</option>
            <option value="忌引き">忌引き</option>
            <option value="その他">その他</option>
        </select>
    </div>

    <div class="time">
        <%= f.label :start_time, "日付" %>
        <%= f.date_field :start_time %>
    </div>

    <div class="reason">
        <%= f.label :reason, "理由" %>
        <%= f.text_field :reason %>
    </div>


    <div class="submit">
        <%= f.submit %>
    </div>

<% end %>
