<p id="notice"><%= notice %></p>

<p>
  <strong>氏名</strong>
  <%= @attendance.name %>
</p>

<p>
  <strong>出欠席</strong>
  <%= @attendance.status %>
</p>

<p>
  <strong>時間</strong>
  <%= @attendance.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @attendance.reason %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
